<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body>
    <aside>
        <div>
            <img src="" alt="user-image">
            <%if(user){%>
                <h3>bem vindo <%= user.username%></h3>
            <%}%>
        </div>
        <nav>
            <ul>
                <li>
                    <button id="dashboardBtn">Dashboard</button>
                </li>
                <li>
                    <button id="productBtn">Products</button>
                </li>
                <li>
                    <button id="ordersBtn">Orders</button>
                </li>
                <li>
                    <button id="statisticBtn">Statistic</button>
                </li>
                <li>
                    <button id="financeBtn">Finance</button>
                </li>
            </ul>
        </nav>
        <h1 id="mess" style="display:none;">hi messenge</h1>
        <button id="addbtn">add</button>
    </aside>
    <main id="mainContainer">
        <%switch(main){
            case 'home':%>
                <%- include('../components/dashboardHome')%>
                <%break;
            case 'products':%>
                <%- include('../components/dashboardProducts')%>
                <%break;
            case 'orders':%>
                <%- include('../components/dashboardOrder')%>
                <%break;
            case 'statistic':%>
                <%- include('../components/dashboardStatistic')%>
                <%break;
            case 'finance':%>
                <%- include('../components/dashboardFinance')%>
                <%break;
            default:%>
                <%break;
        }%>
    </main>
</body>
<script type='text/javascript'>
    let main = '<%= main%>'
</script>
<script type="text/javascript" src="js/dashboard.js"></script>
</html>