<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head'); %>
</head>
<body>
    <aside>
        <div class="dashboard_userContainer">
            <img src="" alt="user-image">
            <%if(user){%>
                <h3>bem vindo <%= user.username%></h3>
            <%}%>
            <hr>
        </div>
        <nav>
            <ul>
                <li>
                    <%if (main==='home'){%>
                        <button class="dashboard_menuBtn <%= activeBtn%>" id="dashboardBtn"> 
                            <img class="btnIcon" src="assets/chart-line-solid.svg" alt="">
                            Dashboard
                        </button>
                    <%}else{%>
                        <button class="dashboard_menuBtn" id="dashboardBtn"> 
                            <img class="btnIcon" src="assets/chart-line-solid.svg" alt="">
                            Dashboard
                        </button>
                    <%}%>
                </li>
                <li>
                    <%if (main==='products'){%>
                        <button class="dashboard_menuBtn <%= activeBtn%>" id="productBtn">
                            <img class="btnIcon" src="assets/shirt-solid.svg" alt="">
                            Products
                        </button>
                    <%}else{%>
                        <button class="dashboard_menuBtn" id="productBtn">
                            <img class="btnIcon" src="assets/shirt-solid.svg" alt="">
                            Products
                        </button>
                    <%}%>
                </li>
                <li>
                    <%if (main==='orders'){%>
                        <button class="dashboard_menuBtn <%= activeBtn%>" id="ordersBtn">
                            <img class="btnIcon" src="assets/boxes-stacked-solid.svg" alt="">
                            Orders
                        </button>
                    <%}else{%>
                        <button class="dashboard_menuBtn" id="ordersBtn">
                            <img class="btnIcon" src="assets/boxes-stacked-solid.svg" alt="">
                            Orders
                        </button>
                    <%}%>
                </li>
                <li>
                    <%if (main==='statistic'){%>
                        <button class="dashboard_menuBtn <%= activeBtn%>" id="statisticBtn">
                            <img class="btnIcon" src="assets/chart-simple-solid.svg" alt="">
                            Statistic
                        </button>
                    <%}else{%>
                        <button class="dashboard_menuBtn" id="statisticBtn">
                            <img class="btnIcon" src="assets/chart-simple-solid.svg" alt="">
                            Statistic
                        </button>
                    <%}%>
                </li>
                <li>
                    <%if (main==='finance'){%>
                        <button class="dashboard_menuBtn <%= activeBtn%>" id="financeBtn">
                            <img class="btnIcon" src="assets/cash-register-solid.svg" alt="">
                            Finance
                        </button>
                    <%}else{%>
                        <button class="dashboard_menuBtn" id="financeBtn">
                            <img class="btnIcon" src="assets/cash-register-solid.svg" alt="">
                            Finance
                        </button>
                    <%}%>
                </li>
            </ul>
        </nav>
    </aside>
    <main id="mainContainer">
        <%switch(main){
            case 'home':%>
                <%- include('../components/dashboardHome')%>
                <%break;
            case 'products':%>
                <%- include('../components/dashboardProducts')%>
                <%break;
            case 'orders':%>
                <%- include('../components/dashboardOrder')%>
                <%break;
            case 'statistic':%>
                <%- include('../components/dashboardStatistic')%>
                <%break;
            case 'finance':%>
                <%- include('../components/dashboardFinance')%>
                <%break;
            default:%>
                <%break;
        }%>
    </main>
</body>
<script type='text/javascript'>
    let main = '<%= main%>'
</script>
<script type="text/javascript" src="js/dashboard.js"></script>
</html>